In [19]:
import pandas as pd
import sklearn as sk
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import svm
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import cross_val_score, train_test_split, cross_val_predict
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 25)
Df = pd.read_csv("12Buckets.csv")
FA = pd.read_csv("FreeAgents.csv")
CapSpace = pd.read_csv("CapSpace.csv")
DfUngrouped = pd.read_csv('SalaryData.csv')

In [20]:
def GetMascot(x):
    mascotsplit = x['Team'].split('-')
    mascot = mascotsplit[1]
    return mascot

DfUngrouped['Team'] = DfUngrouped.apply(GetMascot,axis = 1)
DfUngrouped.head()

,CapPerc,Cash,DeadCap,IR,Player,Position,Prac,SalaryCap,Susp,Team,Year
0,inf,-,1,0,Cody Brown,DE,0,239000,0,cardinals,2010
1,inf,-,1,0,Anthony Becht,TE,0,50000,0,cardinals,2010
2,inf,-,1,0,Jorrick Calvin,CB,0,22058,0,cardinals,2010
3,inf,-,1,0,Trevor Canfield,G,0,17650,0,cardinals,2010
4,inf,-,1,0,Jason Elam,K,0,1250000,0,falcons,2010

In [2]:
global Groups
global GroupToPos
global SalaryCaps
Groups = ['Safeties','Corners','InsideBackers','Edge','InteriorDLine','WRs','TEs','InteriorOLine','Tackles','QB','RB','Special']
GroupToPos = {'Safeties': ['SS','S','FS'], 'Corners': ['CB'], 'InsideBackers': ['LB','ILB'], 'InteriorDLine': ['DT']
             , 'Edge': ['OLB', 'DE'], 'TEs': ['TE'], 'WRs': ['WR'], 'InteriorOLine': ['G', 'C', 'OL'], 'Tackles': ['T','LT','RT'],
             'QB': ['QB'], 'RB': ['RB'], 'Special': ['K','P','KR','PR','LS']}
SalaryCaps = {2009: 123000000, 2011: 120000000, 2012: 120600000, 2013: 123000000, 2014: 133000000, 2015: 143280000, 2016: 155270000, 2017: 167000000
             , 2018: 177200000, 2019: 188200000, 2020: 198200000}

Df.head()

,Year,Team,Safeties,Corners,InsideBackers,Edge,InteriorDLine,WRs,TEs,InteriorOLine,Tackles,QB,RB,Special,Dead,IR,Prac,Susp,Wins,Playoff Wins,SuperBowl Win
0,2005,cardinals,8.02,3.09,2.08,9.11,1.47,8.76,0.44,15.55,5.49,6.72,0.81,3.03,8.08,0.16,0.09,0.0,5,0,0
1,2006,cardinals,9.22,0.95,2.46,11.08,3.72,11.23,0.81,20.40,3.43,6.87,10.18,1.76,1.18,0.61,0.15,0.0,5,0,0
2,2007,cardinals,8.73,1.48,3.39,11.32,1.64,10.80,0.95,10.49,5.60,8.55,7.57,1.13,2.07,13.01,0.08,0.0,8,0,0
3,2008,cardinals,8.13,2.29,9.81,8.31,3.75,11.07,1.67,11.33,13.31,7.49,7.27,0.80,4.09,0.23,0.32,0.0,9,3,0
4,2009,cardinals,10.10,8.03,10.46,6.54,7.00,14.14,0.66,9.37,8.26,12.29,4.53,2.21,6.92,5.68,0.21,0.0,10,1,0

In [4]:
#Normalize spending percentages to the year each team existed in, allowing for comparison and for reasonable distance calculation
def Normalize(x):
    RetList = []
    for position in Groups:
        dfyear = Df[Df['Year'] == x['Year']]
        val = (x[position] - np.mean(dfyear[position]))/(np.std(dfyear[position]))
        
        RetList.append(val)
    
    return pd.Series(RetList)
    
    
    
Df[Groups] = Df.apply(Normalize, axis = 1)

In [22]:
def DistAllTeams(x, Team, Year):
    TheTeam = Df[(Df['Team'] == Team)&(Df['Year'] == Year)]
    TotD = 0
    if ((x['Team'] == Team)|(x['Year'] >= Year)):
        Dist = 100
    
    else:
        for Position in Groups:
            Di = (x[Position]-TheTeam[Position])**2
            TotD += Di
        Dist = np.sqrt(TotD)
    return Dist

def BasicRecommend(x):
    if (x['Wins'] > 0)&(x['Playoff Wins'] > 0):
        message = "Increase spending in this position"
    
    elif (x['Wins'] < 0)&(x['Playoff Wins'] < 0):
        message = "Decrease spending in this position"
        
    else:
        message = "No clear direction from historical data"
        
    return message
    

def FullComparable(Team, Year):
    ChangeFrame = pd.DataFrame()  
    Groups2 = Groups.copy()
    Groups2.extend(['Dead','IR','Prac','Susp','Wins','Playoff Wins'])
    Df['Dist'] = Df.apply(DistAllTeams, axis = 1, args = (Team, Year))
    
    #Check the 5 teams that are most similar to the team in question
    
    ######
    for l in range(0,11):
        
        TopTeams = Df.sort_values(by = "Dist")[l:l+1]
        NextYear = Df[(Df['Team'] == TopTeams.iloc[0,1])&(Df['Year'] == TopTeams.iloc[0,0]+1)]
        
        Result2 = TopTeams.copy()
        for i in range(0,len(Groups2)):
            Position = Groups2[i]
            NewVal = NextYear[Position].values - TopTeams[Position].values
            Result2.iloc[0,i+2] = NewVal

        Result2.iloc[0,0] = str(TopTeams['Year'].values[0]) + " to " +  str(NextYear['Year'].values[0])

        ChangeFrame = ChangeFrame.append(Result2)

    X = ChangeFrame.copy()
    display(X)
    cor = X.corr(method = "spearman").fillna(0)
    cor['Recommendation'] = cor.apply(BasicRecommend, axis = 1)
    #PlayerRecommendations = SpecificRecs(cor)
    display(cor[['Wins','Playoff Wins','Recommendation']][0:12])
    return cor

In [23]:
cor = FullComparable('texans',2019)

,Year,Team,Safeties,Corners,InsideBackers,Edge,InteriorDLine,WRs,TEs,InteriorOLine,Tackles,QB,RB,Special,Dead,IR,Prac,Susp,Wins,Playoff Wins,SuperBowl Win,Dist
147,2017 to 2018,broncos,-0.66,-1.90,1.74,-2.61,0.16,-7.16,-1.28,1.23,-0.74,6.01,-2.59,0.42,0.06,3.84,0.00,0.00,1,0,0,5.706628
8,2013 to 2014,cardinals,0.59,4.16,-0.55,4.37,0.79,-1.04,0.07,-4.84,0.02,6.86,-2.23,-1.41,-0.25,14.89,0.15,2.25,1,0,0,8.208039
217,2012 to 2013,jaguars,-4.26,-8.56,-5.28,-9.28,-0.47,-5.38,-3.65,-1.07,-4.86,0.79,-1.90,-0.02,-8.22,-10.93,2.09,0.00,2,0,0,9.110878
148,2018 to 2019,broncos,1.08,-0.92,-3.24,5.11,-0.40,-5.52,2.43,-2.24,1.10,-4.85,1.41,0.44,-0.13,-1.16,0.00,3.08,1,0,0,9.612773
373,2018 to 2019,jets,-0.12,-3.90,7.42,-8.06,1.93,-0.91,-0.75,-1.94,-1.32,-4.73,0.85,-0.27,-13.29,11.55,0.00,-1.43,3,0,0,10.104514
251,2016 to 2017,raiders,-1.44,1.45,-2.06,-6.12,-3.61,0.92,0.91,5.03,-1.84,7.05,0.55,-1.96,-2.91,4.01,0.00,-2.38,-6,0,0,10.219892
115,2015 to 2016,browns,-5.05,-1.89,-2.56,-12.16,1.70,-4.14,-0.91,-3.46,-1.45,1.94,0.61,-0.27,1.09,-12.50,0.00,0.57,-2,0,0,10.280559
23,2013 to 2014,falcons,-0.97,-7.83,0.27,-3.52,-0.39,-1.06,-4.85,2.39,2.43,5.70,-1.27,0.54,-13.35,0.60,0.16,0.00,2,0,0,10.353516
372,2017 to 2018,jets,1.40,4.95,1.92,-3.51,0.12,6.11,0.29,0.16,2.16,4.28,-1.35,0.09,13.36,4.68,0.00,1.43,-1,0,0,10.372280
205,2015 to 2016,colts,-2.53,-4.65,-2.74,-4.74,-3.63,0.02,4.14,0.03,0.46,4.99,-0.60,-0.55,-9.28,-3.46,0.15,2.77,0,0,0,10.407685
36,2011 to 2012,ravens,2.76,1.58,2.49,-1.85,3.19,0.34,-0.47,-5.21,1.38,2.18,4.37,-0.44,6.47,6.74,-0.18,0.00,-2,2,0,10.611051

                   Wins  Playoff Wins                           Recommendation
Safeties      -0.023044      0.500000  No clear direction from historical data
Corners       -0.599136      0.300000  No clear direction from historical data
InsideBackers  0.036870      0.400000       Increase spending in this position
Edge          -0.018435      0.300000  No clear direction from historical data
InteriorDLine  0.036870      0.500000       Increase spending in this position
WRs           -0.493135      0.300000  No clear direction from historical data
TEs           -0.474700      0.000000  No clear direction from historical data
InteriorOLine  0.036870     -0.500000  No clear direction from historical data
Tackles        0.018435      0.300000       Increase spending in this position
QB            -0.341046     -0.100000       Decrease spending in this position
RB            -0.271915      0.500000  No clear direction from historical data
Special        0.501188     -0.200456  No clear direction from historical data

In [30]:
def SpecificRecs(cor, Team, Year, FreeAgents):
    cor = cor[['Wins','Playoff Wins','Recommendation']][0:12]
    PossibleFA = FA[FA['Year'] == Year]
    RecommendedFA = pd.DataFrame(columns = ['AAV','Age','CapPerc','Dollars','From','Player','Position','To','Year','Years'])
    RecommendToCut = pd.DataFrame(columns = ['CapPerc','Cash','DeadCap','IR','Player','Position','Prac','SalaryCap','Susp','Team','Year'])
    PosToInc = 0
    PosToDec = 0
    for i in range(0,len(cor)):
        row = cor.iloc[i]
        if row['Recommendation'] == 'Increase spending in this position':
            group = cor.index[i]
            Positions = GroupToPos[group]
            RecommendedFA = RecommendedFA.append(PossibleFA[PossibleFA['Position'].isin(Positions)])
            PosToInc += 1
        elif row['Recommendation'] == 'Decrease spending in this position':
            group = cor.index[i]
            Positions = GroupToPos[group]
            RecommendToCut = RecommendToCut.append(DfUngrouped[(DfUngrouped['Team'] == Team)&(DfUngrouped['Year'] == Year)&(DfUngrouped['Position'].isin(Positions))])
            
            
    SalaryCap = SalaryCaps[Year]
    TeamCapSpace = CapSpace[(CapSpace['Year'] == Year)&(CapSpace['Team'] == Team)]
    
    ##Just have it return one player to sign and one player to cut
    SignPlayer = RecommendedFA.sort_values(by = 'AAV')
    CutPlayer = RecommendToCut.sort_values(by = 'SalaryCap')
    
    PlayerRecs = {'Sign': SignPlayer, 'Cut': CutPlayer}
    
            
            
    return PlayerRecs
            
            
            
    
    
    
    
    
    
    
    
SpecificRecs(cor, 'texans', 2018, FA)

{'Sign':              AAV   Age  CapPerc     Dollars From            Player Position  \
 2891    630000.0  26.0     0.36    630000.0   NO       David Parry       DT
 2887    705000.0  28.0     0.40    705000.0  ARI   Vinston Painter       RT
 2883    705000.0  27.0     0.40    705000.0  LAC     Tenny Palepoi       DT
 2885    705000.0  25.0     0.40    705000.0  MIA    Neville Hewitt      ILB
 2876    745000.0  26.0     0.42    745000.0   GB       Ulrick John       LT
 ...          ...   ...      ...         ...  ...               ...      ...
 2515   9000000.0  26.0     5.08  45000000.0  DAL  Anthony Hitchens      ILB
 2529   9333333.0  28.0     5.27  28000000.0  ATL       Dontari Poe       DT
 2512  10000000.0  28.0     5.64  50000000.0  CAR    Star Lotulelei       DT
 2560  14000000.0  31.0     7.90  14000000.0  MIA     Ndamukong Suh       DT
 2509  15500000.0  30.0     8.75  62000000.0   NE       Nate Solder       LT

        To    Year  Years
 2891  MIN  2018.0    1.0
 2887  ARI  2018.0    1.0
 2883  BUF  2018.0    1.0
 2885  NYJ  2018.0    1.0
 2876   NE  2018.0    1.0
 ...   ...     ...    ...
 2515   KC  2018.0    5.0
 2529  CAR  2018.0    3.0
 2512  BUF  2018.0    5.0
 2560  LAR  2018.0    1.0
 2509  NYG  2018.0    4.0

 [71 rows x 10 columns],
 'Cut':        CapPerc         Cash DeadCap IR          Player Position Prac  \
 8441      1.68  $1,094,740        0  0  Deshaun Watson       QB    0
 21456     0.34    $915,000        0  0        Joe Webb       QB    0
 19651     0.38    $790,000        0  0  Brandon Weeden       QB    0
 30751     0.05            -       1  0        Joe Webb       QB    0

       SalaryCap Susp    Team  Year
 8441    3148700    0  texans  2018
 21456    630000    0  texans  2018
 19651    720000    0  texans  2018
 30751     90000    0  texans  2018  }

In [26]:
DfUngrouped[(DfUngrouped['Team'] == Team)&(DfUngrouped['Year'] == Year)&(DfUngrouped['Position'] == Positions)]

NameError: name 'Team' is not defined

The teams most similar to the 2018 Texans (that aren't the Texans or in the future) are the 2017 Broncos (5 Wins), the 2011 Ravens (12 Wins), and the 2007 Steelers (10 Wins).

# Quickly break down a few examples one-by-one

### 2017 Broncos (5 Wins)

In [320]:
TopTeams = Df.sort_values(by = "Dist")[:1]

NextYear = Df[(Df['Team'] == TopTeams.iloc[0,1])&(Df['Year'] == TopTeams.iloc[0,0]+1)]

Result = NextYear.copy()

Groups2 = Groups.copy()
Groups2.extend(['Dead','IR','Prac','Susp','Wins','Playoff Wins'])
for i in range(0,len(Groups2)):
    Position = Groups2[i]
    NewVal = NextYear[Position].values - TopTeams[Position].values
    Result.iloc[0,i+2] = NewVal
    
Result.iloc[0,0] = '2017 to 2018'
Result

             Year     Team  Safeties   Corners  InsideBackers      Edge  InteriorDLine       WRs       TEs  InteriorOLine   Tackles        QB        RB   Special  Dead    IR  Prac  Susp  Wins  Playoff Wins  SuperBowl Win   Dist
148  2017 to 2018  broncos -0.227726 -0.221059       0.485421 -0.923957       0.176749 -1.961223 -0.427315       0.270024 -0.233475  1.210933 -1.335786  0.568758  0.06  3.84   0.0   0.0     1             0              0  100.0

#### The 2018 Broncos spent considerably less on WRs, Edge Rushers, and RBs, while spending considerably more on their QB, which ultimately only led to a 1-win improvement

In [321]:
TopTeams = Df.sort_values(by = "Dist")[1:2]

NextYear = Df[(Df['Team'] == TopTeams.iloc[0,1])&(Df['Year'] == TopTeams.iloc[0,0]+1)]

Result2 = NextYear.copy()

for i in range(0,len(Groups2)):
    Position = Groups2[i]
    NewVal = NextYear[Position].values - TopTeams[Position].values
    Result2.iloc[0,i+2] = NewVal
    
Result2.iloc[0,0] = str(TopTeams['Year'].values[0]) + " to " +  str(NextYear['Year'].values[0])
Result2

            Year    Team  Safeties   Corners  InsideBackers      Edge  InteriorDLine       WRs       TEs  InteriorOLine   Tackles        QB        RB   Special  Dead    IR  Prac  Susp  Wins  Playoff Wins  SuperBowl Win      Dist
37  2011 to 2012  ravens  0.500458 -0.311136       0.253507 -0.906201       0.684663 -0.264289 -0.602289      -1.629572  0.274676  0.374219  1.181989 -0.764452  6.47  6.74 -0.18   0.0    -2             2              1  3.949323

#### The 2012 Ravens spend much less on Interior Offensive Line and Edge and much more on RB and Interior Defensive Line. The 2012 offseason saw the Ravens lose G Ben Grubbs and DE/NT Cory Redding and drafting future all-pros in Courtney Upshaw and Kelechi Osemele. The Ravens also re-signed RB Ray Rice to a large deal and Interior D-Lineman Haloti Ngata's contract value increased significantly. This ultimately led to fewer regular season wins, but a Super Bowl Win

In [365]:
ChangeFrame = pd.DataFrame()
for j in range(0,11):
    TopTeams = Df.sort_values(by = "Dist")[j:j+1]

    NextYear = Df[(Df['Team'] == TopTeams.iloc[0,1])&(Df['Year'] == TopTeams.iloc[0,0]+1)]

    Result2 = NextYear.copy()

    for i in range(0,len(Groups2)):
        Position = Groups2[i]
        NewVal = NextYear[Position].values - TopTeams[Position].values
        Result2.iloc[0,i+2] = NewVal

    Result2.iloc[0,0] = str(TopTeams['Year'].values[0]) + " to " +  str(NextYear['Year'].values[0])
    ChangeFrame = ChangeFrame.append(Result2)

display(ChangeFrame)
    
X = ChangeFrame.copy()

cor = X.corr()
sns.heatmap(cor, xticklabels=cor.columns,yticklabels=cor.columns)
cor[['Wins','Playoff Wins','SuperBowl Win']]

KeyError: 'Dist'

In [13]:
FA

,AAV,Age,CapPerc,Dollars,From,Player,Position,To,Year,Years
0,12666667.0,25.0,10.52,76000000.0,CAR,Charles Johnson,DE,CAR,2011.0,6.0
1,12000000.0,30.0,9.97,60000000.0,OAK,Nnamdi Asomugha,CB,PHI,2011.0,5.0
2,7571429.0,27.0,6.29,53000000.0,TB,Davin Joseph,G,TB,2011.0,7.0
3,9750000.0,27.0,8.10,48750000.0,CIN,nathan Joseph,CB,HOU,2011.0,5.0
4,9000000.0,27.0,7.48,45000000.0,NYJ,Santonio Holmes,WR,NYJ,2011.0,5.0
...,...,...,...,...,...,...,...,...,...,...
3290,645000.0,26.0,0.34,645000.0,ATL,Marvin Hall,WR,CHI,2019.0,1.0
3291,570000.0,26.0,0.30,570000.0,NYG,Jordan Williams,LB,TEN,2019.0,1.0
3292,570000.0,25.0,0.30,570000.0,GB,Nico Siragusa,G,IND,2019.0,1.0
3293,570000.0,26.0,0.30,570000.0,IND,DeShawn Williams,DT,DEN,2019.0,1.0
3294,500000.0,27.0,0.27,500000.0,MIN,Cedrick Lang,T,NE,2019.0,1.0

     Unnamed: 0  Year       Team  CapRoom
0             0  2005  cardinals    35.43
1             1  2006  cardinals    17.89
2             2  2007  cardinals    28.35
3             3  2008  cardinals    14.77
4             4  2009  cardinals     6.41
..          ...   ...        ...      ...
475         475  2015   redskins     5.67
476         476  2016   redskins    20.11
477         477  2017   redskins     8.16
478         478  2018   redskins    11.54
479         479  2019   redskins    13.77

[480 rows x 4 columns]