In [53]:
import pandas as pd
import sklearn as sk
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import svm
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import cross_val_score, train_test_split, cross_val_predict
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)

In [10]:
Df = pd.read_csv("12Buck50Group.csv")
DfGB = pd.read_csv("Df12WithClusters.csv")
DfGB.head()

,Year,Team,Safeties,Corners,InsideBackers,Edge,InteriorDLine,WRs,TEs,InteriorOLine,...,44,45,46,47,48,49,ExpWins,ExpPOWins,Error,POError
0,2005,cardinals,8.02,3.09,2.08,9.11,1.47,8.76,0.44,15.55,...,1.990576,1.992342,1.979574,2.027102,2.035048,2.170448,7.915359,0.428768,2.915359,0.428768
1,2006,cardinals,9.22,0.95,2.46,11.08,3.72,11.23,0.81,20.40,...,1.963933,1.942707,2.016920,2.031948,2.064382,2.110709,7.913138,0.428157,2.913138,0.428157
2,2007,cardinals,8.73,1.48,3.39,11.32,1.64,10.80,0.95,10.49,...,1.967153,1.969714,1.991108,2.055555,1.984246,2.103499,7.916240,0.429014,0.083760,0.429014
3,2008,cardinals,8.13,2.29,9.81,8.31,3.75,11.07,1.67,11.33,...,1.988644,2.045840,1.958245,2.017419,2.027784,2.063841,7.911211,0.428202,1.088789,2.571798
4,2009,cardinals,10.10,8.03,10.46,6.54,7.00,14.14,0.66,9.37,...,2.001486,2.055791,1.972971,2.012283,2.025217,2.071557,7.911049,0.427981,2.088951,0.572019

In [15]:
newlist

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 'Team',
 'IR',
 'Team',
 'Error',
 'POError',
 'ExpWins',
 'ExpPOWins',
 'Wins',
 'Playoff Wins',
 'SuperBowl Win']

In [16]:
newlist = []
list1 = []
for i in (range(0,50)):
    j = str(i)
    newlist.append(j)
newlist = newlist + ['Team','IR','Team','Error','POError','ExpWins','ExpPOWins','Wins','Playoff Wins','SuperBowl Win']
X = DfGB.drop(newlist, axis= 1)
Y = DfGB[['Wins']]

In [17]:
X

,Year,Safeties,Corners,InsideBackers,Edge,InteriorDLine,WRs,TEs,InteriorOLine,Tackles,QB,RB,Special,Dead,Prac,Susp,Cluster
0,2005,8.02,3.09,2.08,9.11,1.47,8.76,0.44,15.55,5.49,6.72,0.81,3.03,8.08,0.09,0.0,49
1,2006,9.22,0.95,2.46,11.08,3.72,11.23,0.81,20.40,3.43,6.87,10.18,1.76,1.18,0.15,0.0,34
2,2007,8.73,1.48,3.39,11.32,1.64,10.80,0.95,10.49,5.60,8.55,7.57,1.13,2.07,0.08,0.0,34
3,2008,8.13,2.29,9.81,8.31,3.75,11.07,1.67,11.33,13.31,7.49,7.27,0.80,4.09,0.32,0.0,34
4,2009,10.10,8.03,10.46,6.54,7.00,14.14,0.66,9.37,8.26,12.29,4.53,2.21,6.92,0.21,0.0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2015,5.14,8.43,3.80,14.27,12.29,16.91,4.20,10.65,8.61,6.06,2.44,1.53,8.93,0.00,0.0,15
476,2016,1.54,10.29,2.04,9.03,4.87,14.27,5.11,9.01,6.88,13.73,1.51,1.61,0.37,0.00,0.0,21
477,2017,2.81,15.41,4.64,14.17,2.20,6.19,6.69,8.07,11.63,15.60,2.59,1.84,0.06,0.20,0.0,35
478,2018,3.17,11.73,3.38,11.99,4.71,6.27,9.13,6.16,13.11,12.49,3.79,2.53,0.40,30.37,0.0,35
479,2019,3.89,11.65,1.98,13.16,2.02,5.16,8.91,9.52,6.94,15.50,4.24,3.26,2.15,10.54,0.2,9

In [18]:
list_one =[]
feature_ranking = SelectKBest(chi2, k=5)
fit = feature_ranking.fit(X, Y)

fmt = '%-8s%-20s%s'

for i, (score, feature) in enumerate(zip(feature_ranking.scores_, X.columns)):
    list_one.append((score, feature))
    
dfObj = pd.DataFrame(list_one) 
dfObj.sort_values(by=[0], ascending = False)

             0              1
13  140.652660           Dead
16   93.926107        Cluster
14   90.802964           Prac
4    86.338319           Edge
3    60.944557  InsideBackers
15   60.542769           Susp
5    49.561354  InteriorDLine
1    45.673116       Safeties
10   38.316509             QB
11   23.948534             RB
8    22.659820  InteriorOLine
6    22.262290            WRs
9    21.907477        Tackles
7    18.102956            TEs
2    15.796858        Corners
12    4.972642        Special
0     0.127206           Year

In [19]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X,Y,test_size=.2)

In [20]:
Y_Train = y_train1.values[:,0]
Y_Test = y_test1.values[:,0]
reg = RandomForestRegressor(n_estimators = 1000, random_state = 0)
reg.fit(X_train1, Y_Train)
Y_Pred = reg.predict(X_test1)
R2 = reg.score(X_test1, Y_Test)

In [21]:
R2

-0.061757548421575104

## Lets try normalizing

In [22]:
## Test if normalization by year affects the analysis
labels = ['Safeties','Corners','InsideBackers','Edge','InteriorDLine','WRs','TEs','InteriorOLine','Tackles','QB','RB','Special']
Df12GBNormalized = DfGB.copy()

def Normalize(x):
    RetList = []
    for label in labels:
        dfyear = Df12GBNormalized[Df12GBNormalized['Year'] == x['Year']]
        val = (x[label] - np.mean(dfyear[label]))/(np.std(dfyear[label]))
        
        RetList.append(val)
    
    return pd.Series(RetList)
    
    
    
Df12GBNormalized[labels] = Df12GBNormalized.apply(Normalize, axis = 1)

In [23]:
Df12GBNormalized

,Year,Team,Safeties,Corners,InsideBackers,Edge,InteriorDLine,WRs,TEs,InteriorOLine,...,44,45,46,47,48,49,ExpWins,ExpPOWins,Error,POError
0,2005,cardinals,1.402731,-0.207893,-0.704751,0.637538,-0.524513,0.666781,-0.808983,3.703935,...,1.990576,1.992342,1.979574,2.027102,2.035048,2.170448,7.915359,0.428768,2.915359,0.428768
1,2006,cardinals,1.968584,-0.894881,-0.620196,1.020491,-0.200519,0.858693,-0.797375,4.104730,...,1.963933,1.942707,2.016920,2.031948,2.064382,2.110709,7.913138,0.428157,2.913138,0.428157
2,2007,cardinals,1.927200,-1.231017,-0.680460,0.750435,-0.728735,0.483166,-0.943145,1.903609,...,1.967153,1.969714,1.991108,2.055555,1.984246,2.103499,7.916240,0.429014,0.083760,0.429014
3,2008,cardinals,1.401572,-1.141278,0.977356,-0.113338,-0.431277,0.562258,-0.953613,1.769090,...,1.988644,2.045840,1.958245,2.017419,2.027784,2.063841,7.911211,0.428202,1.088789,2.571798
4,2009,cardinals,1.503735,0.174713,1.021642,-0.924559,0.278701,1.189041,-1.609632,0.775470,...,2.001486,2.055791,1.972971,2.012283,2.025217,2.071557,7.911049,0.427981,2.088951,0.572019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2015,redskins,-0.512196,-0.133037,-0.342862,-0.359964,1.501511,1.970195,-0.236543,0.866764,...,1.972868,2.017264,2.024561,2.032284,2.101224,2.030230,7.907382,0.426846,1.092618,0.426846
476,2016,redskins,-1.815274,0.198835,-0.726119,-1.394048,-0.264964,1.007447,0.421090,0.468566,...,2.005159,2.031451,1.982491,2.014406,2.029579,2.061587,7.910320,0.426818,0.089680,0.426818
477,2017,redskins,-1.256689,1.492738,0.368634,-0.268798,-1.163205,-0.925733,0.904438,-0.045445,...,2.015787,2.070112,1.963153,2.018868,2.024894,2.042918,7.907658,0.426789,0.907658,0.426789
478,2018,redskins,-1.000996,0.830733,-0.277335,-0.598624,-0.403709,-1.210055,2.232052,-0.932062,...,2.010813,2.071023,1.964847,2.004189,2.084709,2.024925,7.908409,0.426813,0.908409,0.426813
479,2019,redskins,-0.627169,0.457340,-0.959833,-0.063331,-1.327169,-1.411630,2.419845,0.187516,...,2.009931,2.024647,1.970129,2.011793,2.059921,2.065632,7.911271,0.427265,4.911271,0.427265

In [33]:
newlist = []
list1 = []
for i in (range(0,50)):
    j = str(i)
    newlist.append(j)
newlist = newlist + ['Team','IR','Team','Error','POError','ExpWins','ExpPOWins','Wins','Playoff Wins','SuperBowl Win']
X_Norm = Df12GBNormalized.drop(newlist, axis= 1)
Y_Norm = Df12GBNormalized[['Wins']]

In [34]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_Norm,Y_Norm,test_size=.2)

In [42]:
Y_Train = y_train1.values[:,0]
Y_Test = y_test1.values[:,0]
reg = RandomForestRegressor(n_estimators = 1000, criterion = "mae")
reg.fit(X_train1, Y_Train)
Y_Pred = reg.predict(X_test1)
R2 = reg.score(X_test1, Y_Test)

In [43]:
R2

-0.03830759585689192

In [47]:
list_one =[]
feature_ranking = SelectKBest(chi2, k=15)
fit = feature_ranking.fit(X, Y)

fmt = '%-8s%-20s%s'

for i, (score, feature) in enumerate(zip(feature_ranking.scores_, X.columns)):
    list_one.append((score, feature))
    
dfObj = pd.DataFrame(list_one) 
dfObj.sort_values(by=[0], ascending = False)

             0              1
13  140.652660           Dead
16   93.926107        Cluster
14   90.802964           Prac
4    86.338319           Edge
3    60.944557  InsideBackers
15   60.542769           Susp
5    49.561354  InteriorDLine
1    45.673116       Safeties
10   38.316509             QB
11   23.948534             RB
8    22.659820  InteriorOLine
6    22.262290            WRs
9    21.907477        Tackles
7    18.102956            TEs
2    15.796858        Corners
12    4.972642        Special
0     0.127206           Year

## XGBoost? Anyone? Bueller?

In [50]:
model = XGBClassifier(learning_rate = 0.1, n_estimators=150, min_child_weight=3,  max_depth=13)
model.fit(X_train1, Y_Train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=13,
              min_child_weight=3, missing=None, n_estimators=150, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [55]:
from sklearn.metrics import accuracy_score

In [51]:
y_pred3 = model.predict(X_test1)

In [57]:
y_pred3

array([10,  5, 10,  6,  2,  9,  9,  7, 13, 11,  6,  6,  7,  6,  8,  8,  7,
        8,  5, 10,  9,  8,  7, 13, 12,  9, 11,  5,  6,  4,  9,  5, 10,  9,
        2, 11,  5,  5,  4, 11, 13, 13,  9, 10, 11,  6,  4,  7,  7,  3, 12,
       11, 13,  9, 11,  6,  3,  4,  6,  4, 11,  2,  9,  4,  4, 11,  7,  4,
        4,  9,  7, 10,  3, 14,  9, 11, 12, 10, 12,  8,  7,  6,  7, 12, 10,
       11,  6,  6,  4,  8,  5,  7,  6,  7, 10,  4], dtype=int64)

In [58]:
Y_Test

array([ 5, 10, 12,  7,  9, 10,  2,  9,  9,  7, 12,  7,  9,  1,  6,  6,  9,
       10,  2,  4, 10,  8, 11, 11,  8,  9,  9,  6,  2,  8,  7,  7, 12,  9,
        8, 11,  4,  6, 13,  8, 13,  9, 15, 13,  7,  5,  9,  9, 10,  5, 13,
        8,  6,  7,  4,  5, 14, 10, 10,  8, 10, 11, 11,  3, 10,  8,  7, 10,
       12, 11,  8, 12,  7,  2, 10, 10, 13,  4, 12,  7, 12,  4, 11,  8, 10,
        9,  6, 10, 12,  6,  4,  5,  8,  5,  5,  8], dtype=int64)

In [1]:
print ("This is a new line")

This is a new line